html, body {
    background-color: #fff;
    color: #37474f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

h1 {
    font-weight: 100;
    font-size: 40pt;
}

.section-title {
    text-align: center;
    margin-bottom: 5%;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.full-height {
    height: 100vh;
    position: relative;
}

.min-full-height {
    min-height: 100vh;
}

.background {
    background-image: url("../imgs/surf_full.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.main {
    max-width: 800px;
    z-index: 997;
}

.navbar {
    position: absolute;
    text-align: center;
    width: 100%;
}

.navbar-title {
    font-size: 20pt;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .9rem;
    margin: 5% 0 40px 0;
}

.navbar a,
.navbar-main a {
    color: inherit;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-main {
    top: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    padding: 40px 0;
    z-index: 999;
    background-color: #fff;
}

.navbar-promo {
    display: none;
}

.navbar-main-title {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-size: 12pt !important;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    color: inherit;
}

.content {
    text-align: center;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-solo {
    animation: load 2s;
    padding-top: 110px;
    transform: translateY(-55px);
}

.message-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message-centered a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
    text-decoration: none;
}

.message-centered a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.message-centered a:hover {
	border-color: #999;
	color: #999;
    text-decoration: none;
}

.active {
    color: #53c1b6 !important;
}

.bodywrapper {
    animation: load 2s;
    height: 100%;
    position: relative;
}

.slide-out-div {
    padding: 20px;
    width: 250px;
    background: #ccc;
    border: 1px solid #29216d;
    z-index: 1000;
}

@keyframes load {
    from { opacity: 0; }
    to   { opacity: 1; }
}
